# Intellij

*.iml
.idea

.ipynb_checkpoints/

# virtualenv
env/
/.problems/BST3/nbproject/private/
/.problems/BST3/build/
/.problems/DupBST/build/
/.problems/DupBST/nbproject/private/
/.problems/BST1/build/
/.problems/BST1/nbproject/private/
/.problems/Demo/BST1/nbproject/private/
/.problems/Demo/BST1/build/
/.problems/Demo/DupBST/nbproject/private/
/.problems/Demo/DupBST/build/
/.problems/Demo/BST2/nbproject/private/
/.problems/Demo/BST2/build/
/.problems/Demo/BST3/nbproject/private/
/.problems/Demo/BST3/build/
/.problems/Demo/BST4/nbproject/private/
/.problems/Demo/BST4/build/
/.problems/Demo/BST5/nbproject/private/
/.problems/Demo/BST5/build/
/.problems/Demo/BST6/nbproject/private/
/.problems/Demo/BST6/build/
/.problems/Demo/BST7/nbproject/private/
/.problems/Demo/BST7/build/
/.problems/Demo/BST8/nbproject/private/
/.problems/Demo/BST8/build/
/.problems/Demo/BST9/nbproject/private/
/.problems/Demo/BST9/build/
/.problems/Demo/BST10/nbproject/private/
/.problems/Demo/BST10/build/
/.problems/Demo/BST11/nbproject/private/
/.problems/Demo/BST11/build/
/.problems/Demo/BST12/nbproject/private/
/.problems/Demo/BST12/build/
/.problems/Demo/BST13/nbproject/private/
/.problems/Demo/BST15/nbproject/private/
/.problems/Demo/BST15/build/
/.problems/Demo/BST16/build/
/.problems/Demo/BST16/nbproject/private/
/.problems/Demo/BST17/build/
/.problems/Demo/BST17/nbproject/private/
/.problems/Demo/BST18/nbproject/private/
/.problems/Demo/BST18/build/
/.problems/Demo2 (Graph)/Graph2/nbproject/private/
/.problems/Demo2 (Graph)/Graph2/build/
/.problems/BSTree/BST2/nbproject/private/
/.problems/BSTree/BST2/build/
/.problems/BSTree/BST2/dist/
/.problems/BSTree/BST3/nbproject/private/
/.problems/BSTree/BST3/build/
/.problems/BSTree/BST4/nbproject/private/
/.problems/BSTree/BST4/build/
/.problems/BSTree/BST5/build/
/.problems/BSTree/BST5/nbproject/private/
/.problems/BSTree/BST6/build/
/.problems/BSTree/BST6/nbproject/private/
/.problems/BSTree/BST6/dist/
/.problems/BSTree/BST7/build/
/.problems/BSTree/BST7/nbproject/private/
/.problems/BSTree/BST8/build/
/.problems/BSTree/BST8/nbproject/private/
/.problems/BSTree/BST9/build/
/.problems/BSTree/BST9/nbproject/private/
/.problems/BSTree/BST10/build/
/.problems/BSTree/BST10/nbproject/private/
/.problems/BSTree/BST10-/build/
/.problems/BSTree/BST10-/nbproject/private/
/.problems/BSTree/BST11/build/
/.problems/BSTree/BST11/nbproject/private/
/.problems/BSTree/BST15/build/
/.problems/BSTree/BST15/nbproject/private/
/.problems/BSTree/BST16/build/
/.problems/BSTree/BST16/nbproject/private/
/.problems/BSTree/BST17/build/
/.problems/BSTree/BST17/nbproject/private/
/.problems/BSTree/BST18/build/
/.problems/BSTree/BST18/nbproject/private/
/.problems/BSTree/BST19/build/
/.problems/BSTree/BST19/nbproject/private/
/.problems/UndirectedGraph/UndirectGraph/build/
/.problems/UndirectedGraph/UndirectGraph/dist/
/.problems/UndirectedGraph/UndirectGraph/nbproject/private/
/.problems/UndirectedGraph/BST6/build/
/.problems/UndirectedGraph/BST6/dist/
/.problems/UndirectedGraph/BST6/nbproject/private/
/.problems/UndirectedGraph/Graph6/build/
/.problems/UndirectedGraph/Graph6/dist/
/.problems/UndirectedGraph/Graph6/nbproject/private/
/.problems/UndirectedGraph/Graph7/build/
/.problems/UndirectedGraph/Graph7/dist/
/.problems/UndirectedGraph/Graph7/nbproject/private/
/.problems/UndirectedGraph/Graph8/build/
/.problems/UndirectedGraph/Graph8/dist/
/.problems/UndirectedGraph/Graph8/nbproject/private/
/.problems/UndirectedGraph/Graph9/build/
/.problems/UndirectedGraph/Graph9/dist/
/.problems/UndirectedGraph/Graph9/nbproject/private/
/.problems/UndirectedGraph2/Graph1/nbproject/private/
/.problems/UndirectedGraph2/Graph1/dist/
/.problems/UndirectedGraph2/Graph1/build/
/.problems/UndirectedGraph2/Graph2/nbproject/private/
/.problems/UndirectedGraph2/Graph2/build/
/.problems/UndirectedGraph2/Graph2/dist/
/.problems/UndirectedGraph2/Graph3/nbproject/private/
/.problems/UndirectedGraph2/Graph3/dist/
/.problems/UndirectedGraph2/Graph3/build/
/.problems/UndirectedGraph2/Graph4/nbproject/private/
/.problems/UndirectedGraph2/Graph4/build/
/.problems/UndirectedGraph2/Graph4/dist/
/.problems/Training 01/2/build/
/.problems/Training 01/2/nbproject/private/
/.problems/Training 01/2/dist/
/.problems/Training 01/3/build/
/.problems/Training 01/3/dist/
/.problems/Training 01/3/nbproject/private/
/.problems/Training 02/1/nbproject/private/
/.problems/Training 02/1/build/
/.problems/Training 02/1/dist/
/.problems/Training 02/2/build/
/.problems/Training 02/2/dist/
/.problems/Training 02/2/nbproject/private/
/.problems/Training 02/3/build/
/.problems/Training 02/3/nbproject/private/
/.problems/Training 02/3/dist/
/.problems/Training 03/1/dist/
/.problems/Training 03/3/dist/